body {
  font-family: 'Roboto';
  color: $black;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  &_brand {
    position: static;
  }

  &_owner {
    position: static;
  }

  @media (max-width: 1500px) {
    padding: 0 30px;
  }
  @media (max-width: 575px) {
    padding: 0 15px;
  }
}

span.orange {
  color: $orange;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}